body {
    background-color: darkgray;
}

canvas {
    background-color: white;
    border: 0.5vw solid rgb(20, 20, 20);
}

@font-face {
    font-family: Humming;
    src: url('./fonts/FOT-HummingStd-D.otf')
}

@font-face {
    font-family: Nitro;
    src: url('./fonts/NITROLC.ttf')
}

a, p {
    font-family: Nitro
}

.title {
    font-size: 4vw;
    font-weight: bold
}

.subtitle {
    font-size: 1.5vw;
    font-weight: bold
}

.small {
    font-size: 1vw;
}

.center {
    display: block;
    width: 50%;
    margin: auto
}
.center, a {
    text-align: center;
    width: 100%
}

.bottommed {
    margin-bottom: 2vw;
}

.camera {
    width: 600px;
    height: 400px;
    z-index: -100000;
    position: absolute;
    display: none
}