body {
    background-color: darkgray;
}

canvas {
    background-color: white
}

@font-face {
    font-family: Humming;
    src: url('./fonts/FOT-HummingStd-D.otf')
}

@font-face {
    font-family: Nitro;
    src: url('./fonts/NITROLC.ttf')
}